body {
    background: #222;
    color: #eee;
}
.tab-content {
    margin-top: 50px;
    font-family: monospace;
}

.new {
    opacity: 0.8;
}

.old {
    opacity: 1;
}

.separator {
    font-weight: bold;
}

ul {
    list-style-type: none;
}

li.old, li.new  {
    word-wrap: break-word;
}